

= render partial:'dashboard/comments/comment_base_item', locals:{comment: comment}

- comment.comments.each do |item| 
  .offset-1 
    = render partial:'dashboard/comments/comment_item', locals:{comment: item}


