

div class="fb-like" data-href="#{url_for(only_path:false)}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"
div id="fb-root"
script[async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0&appId=2600681456895279&autoLogAppEvents=1" nonce="RXz2KPsY"]
