h1 Home
p Find me in app/views/home/index.html.erb
= link_to  "signout", destroy_user_session_path, method:'delete'
br/
= link_to  "change profile", edit_user_registration_path
br/
= link_to  "Posts", posts_path
br/
= link_to  "Categories", categories_path
