nav#mainNav.navbar.navbar-expand-lg.user-layout {
  background-color: #fff;
  & * {
    color: #212529 !important;
    &:hover {
      color: #0085a1 !important;
    }
  }
  .dropdown-menu.border-0 {
    background: #fff;
    & .dropdown-item {
      &:hover {
        background-color: transparent;
        color: #0085a1;
      }
      font-size: 0.75rem;
      font-weight: 800;
      letter-spacing: 0.0625em;
    }
  }
}
nav#mainNav.navbar.navbar-expand-lg {
  background-color: #212529;
  & * {
    color: #fff !important;
    &:hover {
      color: #0085a1 !important;
    }
  }
  .dropdown-menu.border-0 {
    background: #212529;
    & .dropdown-item {
      &:hover {
        background-color: transparent;
        color: #0085a1;
      }
      font-size: 0.75rem;
      font-weight: 800;
      letter-spacing: 0.0625em;
    }
  }
}

ul.dropdown-menu {
  border-radius: 0 !important;
  margin-top: 0.5rem !important;
}

.content-collapse-search {
  margin-top: 0.5rem;
  min-width: 100%;
}

.p-relative {
  position: relative;
}

.dropdown-menu.categories-search-dropdown.border-left-0.border-right-0 {
  width: 100%;
  margin-top: 0 !important;
  border: none;
  border-top: 1px solid rgb(199, 199, 199);
  padding: 0;
  overflow-y: auto;
}

.close-model-btn {
  font-size: 0.7rem;
  cursor: pointer;
  margin-left: auto;
}

.input-group-search {
  display: flex;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 1000px;

  & .search-input {
    display: block;
    outline: none;
    border: none;
    padding: 0 !important;
    height: 2rem;
    font-size: 1.3rem;
    flex-grow: 1;
    border-radius: 0 1000px 1000px 0;
  }
  & .icon-input {
    color: rgb(168, 167, 167);
  }
}

.item-check-search {
  padding: 0.5rem 3rem !important;
  &:hover {
    background: #ddf7ff;
  }
}

